<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Minion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <Minion.Properties.Settings>
            <setting name="server_name" serializeAs="String">
                <value />
            </setting>
            <setting name="server_dir" serializeAs="String">
                <value />
            </setting>
            <setting name="run" serializeAs="String">
                <value />
            </setting>
            <setting name="platform" serializeAs="String">
                <value />
            </setting>
            <setting name="chemistry" serializeAs="String">
                <value />
            </setting>
            <setting name="aligner" serializeAs="String">
                <value />
            </setting>
            <setting name="demultiplex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dual_index" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="custom_trim" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="f_adapter" serializeAs="String">
                <value />
            </setting>
            <setting name="r_adapter" serializeAs="String">
                <value />
            </setting>
            <setting name="variant_caller" serializeAs="String">
                <value />
            </setting>
            <setting name="recalibrate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="realign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tophat" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tophat_fusion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="breakdancer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cnvseq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pindel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="type" serializeAs="String">
                <value>main</value>
            </setting>
        </Minion.Properties.Settings>
    </userSettings>
</configuration>
